body {
    padding: 50px;
}
#tableA {
    width: 50%;
}
#tableB {
    width: 50%;
    border-collapse: collapse;
}
/*td, th {*/
/*    padding: 10px;*/
/*    border: 1px solid black;*/
/*}*/
th{
    padding:10px;
}
h2{
    color: blue;
}